.infoSection {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-gap: 7rem;

  @include mqResponsive(bp-large) {
    grid-template-columns: 1fr;
    max-width: 80rem;
    margin-inline: auto;
  }

  .item {
    display: flex;
    flex-direction: column;
    justify-content: center;

    &:first-child {
      div:first-of-type:not(:first-child) {
        display: flex;
        flex-direction: column;
        gap: 1.5rem;
      }

      div,
      a {
        font-size: 1.9rem;
      }

      a {
        text-decoration: underline;
      }
    }

    iframe {
      aspect-ratio: 1.5;
      border-radius: $default-border-radius;
      overflow: hidden;
      background: $color-white;
    }
  }
}
