@import "../../styles/abstracts/variables";

.footer {
  background-color: $color-primary-dark;
  color: $color-white;
  padding-block: 5rem;

  h4 {
    font-weight: 600;
    margin-block-end: 1.25rem;
  }

  a:hover {
    text-decoration: underline;
  }

  .contactInfo {
    .contactItems {
      display: flex;
      flex-direction: column;
      gap: 0.8rem;
      justify-content: center;

      .contactItem {
        display: flex;
        align-items: center;
        gap: 0.8rem;
      }
    }
  }

  .navList {
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
  }
}
