@import "../../../styles/abstracts/variables";
@import "../../../styles/abstracts/mixins";

.testimonial {
  width: calc(100% - 150px);
  max-width: 80rem;
  height: 25rem;
  margin-inline: auto;
  margin-block: 2rem;
  padding: 4rem;
  border-radius: $default-border-radius;
  background-color: $color-white;
  box-shadow: $default-box-shadow;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 2rem;

  @include mqResponsive(bp-small) {
    width: auto;
  }

  blockquote {
    font-size: 2rem;
    font-style: italic;
    overflow: auto;
  }

  p {
    font-weight: 700;
  }
}
