@import "../../styles/abstracts/mixins";
@import "../../styles/abstracts/variables";

.section {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(35rem, 1fr));
  grid-gap: 7rem;

  .item {
    display: grid;
    align-items: center;

    .text {
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;

      p,
      li,
      ol {
        font-size: 1.9rem;
      }

      @include mqResponsive(bp-large) {
        padding-inline: 2rem;
      }
    }

    .image {
      position: relative;
      aspect-ratio: 1.5;
      border-radius: $default-border-radius;
      overflow: hidden;
      background: $color-white;
    }
  }
}
